@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
$hover-bg: #f0f0f0; // Set the desired hover background color
 $soft-color: #555; // Adjust this if needed
 $soft-bg: #eaeaea; // Adjust this if needed
.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: "#5555";
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #f7eaeacc,
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
    

    // Dropdown styles
    &.dropdown {
      position: relative;

      .dropdownContent {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        background-color: $soft-bg;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
      }

      &:hover {
        .dropdownContent {
          display: block; // Show dropdown on hover
        }
      }
    }
  }
}
