// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
// variables.scss
// $hover-bg: #f0f0f0; // Set the desired hover background color
// $soft-color: #555; // Adjust this if needed
// $soft-bg: #eaeaea; // Adjust this if needed
