@use "../../styles/variables.scss" as *;
@use "../../styles/responsive.scss" as *;

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, auto);

  @include lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md {
    grid-template-columns: 1fr;
  }
  @include sm {
    grid-auto-rows: minmax(120px, auto);
  }

  .box {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid $soft-bg;
  }

  .box1 {
    grid-column: span 1;
    grid-row: span 1;
  }
}
