.dataTable {
  .dataGrid {
    background: white;
    padding: 20px;

    .MuiDataGrid-toolbarContainer {
      flex-direction: row-reverse;
    }

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }

    .action {
      display: flex;
      gap: 15px;

      .edit,
      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px; // Ensure buttons are square
        height: 32px;
        border-radius: 5px;
        transition: background-color 0.3s ease, transform 0.2s ease;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
        }

        &:hover {
          transform: scale(1.1); // Slight zoom-in effect
        }
      }

      .edit:hover {
        background-color: #868a8e; // Blue background for edit button
        color: #fff;
      }

      .delete:hover {
        background-color: #eaaeb4; // Red background for delete button
        color: #fff;
      }
    }
  }
}
